extends layout

block content
  .chat_window
    .top_menu
      .buttons
        .button.close
      .title #{name}
    ul.messages
    
    .bottom_wrapper.clearfix
      .message_input_wrapper
        input.message_input(placeholder='Type your message here...')
      .send_message
        .icon
        .text Send
    
  .message_template
    li.message
      .avatar(data-toggle='tooltip')
      .text_wrapper
        .text
  .profile.chat
    .id #{id}
    .name #{name}
    .photo_profile #{photo}